body, html {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.narrow {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.border-bt {
  border-bottom: 1px solid gray;
}

/*////////////// Buttons, Links and Icons /////////////*/
.logo-icon {
  width: 184px;
}
.link-btn {
  height: 32px;
  padding: 8px;
  text-transform: uppercase;
  color: #000;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  margin-right: 5px;
}
.link-btn:last-child {
  margin-right: 0;
}
.link-btn.icon {
  width: 32px;
}
.link-btn.icon:hover {
  background-color: #eaeff3;
}
.btn {
  background-color: #37678D;
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}
.link-btn.text {
  font-size: 1.2rem;
}
.link-btn.text:hover {
  text-decoration: underline;
}

.social-media-link {
  display: block;
  width: 24px;
  height: 24px;
  padding: 3px;
  border: 1px solid #ebeef3;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #ebeef3;
}
.social-media-link:hover  {
  background-color: #fff;
}
.social-media-icon{
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.facebook-icon {
  background-image: url("assets/images/facebook.svg");
}
.whatsapp-icon {
  background-image: url("assets/images/whatsapp.svg");
}
.twitter-icon {
  background-image: url("assets/images/twitter.svg");
}
.email-icon {
  background-image: url("assets/images/email.svg");
}
.more-share-icon {
  background-image: url("assets/images/more-sharing.svg");
}

/*////////////// main header ////////////////////////*/
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 10px;
}
header .logo {
  flex: 1;
  text-align: center;
}
header .left-header-nav, header.left-header-nav {
  display: flex;
}

/*/////////// main //////////////////*/
main {
  padding-top: 70px;
}

.narrow {
  width: 50%;
  margin: auto;
}


/*////////////// Main Article Header ////////////////*/
.title {
  font-size: 2.4rem;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.social-media {
  display: flex;
}

