@font-face {
  font-family: nyt-imperial;
  src: url(assets/fonts/imperial-normal-500.ttf);
}

@font-face {
  font-family: nyt-cheltenham;
  src: url(assets/fonts/cheltenham-italic-700.ttf);
}
@font-face {
  font-family: nyt-franklin;
  src: url(assets/fonts/franklin-normal-500.ttf);
}

body, html {
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
}
*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: #326891;
}

p {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  /*font-family: georgia,'times new roman',times,serif;*/
  font-size: 1.35rem;
}

figure {
  margin: 0%;
}

.narrow {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.border-bt {
  border-bottom: 1px solid gray;
}

.bold {
  font-weight: bold;
}

.small-print {
  font-size: 0.8rem;
}

.inherit-color {
  color: inherit;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-4 {
  flex: 0 0 25%;
}

/*////////////// Buttons, Links and Icons /////////////*/
.logo-icon {
  width: 184px;
}
.link-btn {
  height: 32px;
  padding: 8px;
  text-transform: uppercase;
  color: #000;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  margin-right: 5px;
}
.link-btn:last-child {
  margin-right: 0;
}
.link-btn.icon {
  width: 32px;
}
.link-btn.icon:hover {
  background-color: #eaeff3;
}
.btn {
  background-color: #37678D;
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}
.link-btn.text {
  font-size: 1.2rem;
}
.link-btn.text:hover {
  text-decoration: underline;
}
.image-btn {
  outline: none;
  border: none;
  height: 24px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 20px;
}
.save-article-btn {
  background-image: url("assets/images/save.svg");
  width: 16px;
}
.post-btn {
  width: 40px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.social-media-link {
  display: block;
  width: 24px;
  height: 24px;
  padding: 3px;
  border: 1px solid #ebeef3;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #ebeef3;
}
.social-media-link:hover  {
  background-color: #fff;
}
.social-media-icon{
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.facebook-icon {
  background-image: url("assets/images/facebook.svg");
}
.whatsapp-icon {
  background-image: url("assets/images/whatsapp.svg");
}
.twitter-icon {
  background-image: url("assets/images/twitter.svg");
}
.email-icon {
  background-image: url("assets/images/email.svg");
}
.more-share-icon {
  background-image: url("assets/images/more-sharing.svg");
}

.callouts {
  display: inline-block;
  position: relative;
  border: 1px solid #80858e;
	border-radius: 4px;
}
.callouts-bottom:before {
	content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 8px;
  bottom: -10px;
  background-color: #fff;
  border-right: 1px solid #80858e;
}
.callouts-bottom:after {
  content: "";
  position: absolute;
  width: 14px;
  right: 7px;
  bottom: -6px;
  border-bottom: 1px solid #80858e;
  transform: rotate(45deg);
  z-index: 1;
}
.callouts:hover, .callouts:hover::after, .callouts:hover::before{
  border-color: #e2dfdf;
}

/*////////////// main header ////////////////////////*/
.main-header {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  z-index: 10;
}
header .logo {
  flex: 1;
  text-align: center;
}
header .left-header-nav, header.left-header-nav {
  display: flex;
}

/*/////////// main //////////////////*/
main {
  padding-top: 70px;
}

.container {
  position: relative;
  width: 70%;
  margin: auto;
}

.narrow {
  width: 50%;
  margin: auto;
}

.block {
  display: block;
}

.fill-horizontal {
  width: 100%;
}

.mb-15px {
  margin-bottom: 15px;
}

figcaption, .caption {
  color: gray;
  margin-top: 10px;
}

figcaption .credit, .caption .credit {
  color: rgb(189 183 183);
}


/*////////////// Main Article Header ////////////////*/
.title {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.social-media {
  display: flex;
}

.author {
  font-weight: bold;
}

.author a {
  color: inherit;
}

.date {
  font-size: smaller;
  font-weight: lighter;
  color: #6d6363;
}


/*//////////////////// main article sections /////////////////*/
p.narrow {
  margin-bottom: 15px;
}
.grid {
  display: grid;
}
.grid-uniform-column-4 {
  grid-auto-columns: minmax(100px, 25%)
}
.grid-uniform-column-4 > .col-1, .grid-uniform-column-4 > .col-5 {
  grid-column: 1;
}
.grid-uniform-column-4 > .col-2, .grid-uniform-column-4 > .col-6 {
  grid-column: 2;
}
.grid-uniform-column-4 > .col-3, .grid-uniform-column-4 > .col-7 {
  grid-column: 3;
}
.grid-uniform-column-4 > .col-4, .grid-uniform-column-4 > .col-8 {
  grid-column: 4;
}
.inflation-illustration-fig {
  padding: 10px;
}
.fig-footer {
  position: relative;
  margin: 20px 0;
  padding-top: 20px;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-weight: 500;
}
.fig-footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  border-top: 2px solid #333;
}
.youtube-embed {
  margin: 30px auto;
}
.youtube-wrap {
  position: relative;
  height: 300px;
}
.youtube-embed iframe {
  width: 100%;
  height: 100%;
}

/*///////// main article footer ////////////*/
#article-bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}
#read-btn {
  flex: 1;
  margin-right: 50px;
}
#article-bottom-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
#article-bottom-nav > ul > li {
  list-style: none;
}